* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: poppins, sans-serif;
  color: gray;
}

h1 {
  font-size: 40px;
}

.container img {
  padding: 5px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

  



