* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: poppins, sans-serif;
}

/* styling for the nav-brand */
.navbar-brand {
  font-family: "Tangerine", cursive;
  font-size: 30px;
  font-weight: bolder;
  margin-left: 20px;
}

/* styling images */
.container img {
  padding: 5px 0;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}
